body {
    background-color: #1ED760;
}

.logo{
    margin-top: 20px;
    height: 50%;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}
#img1{
    display: block;
    width:550px;
    height: 200px;
}
.TagLine{
    margin:0%;
    text-align: center;
    font-family: Garamond, serif;
    font-size: 55px;
    color: snow;
    font-stretch: extra-expanded;
}
.personFrame1{
    margin:0;
    margin-left: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#img3{
    width: 400;
    height: 300;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
#img2{
    width: 400;
    height: 300;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 40px;
    margin-right: 590px;
}